<div style="position: relative; background-color: black; padding: 3%;">
    <div class="flex-row  text-white text-center leading-loose">
        <div class="flex flex-row">
            <div class="basis-1/4">
                <div class="text-center">
                    <p class="font-bold tracking-widest">
                       FLORA
                    </p>
                    <p class="border-solid border-2 border-gray-700 text-xs"> 
                      THE FASHION BOUTIQUE
                    </p>
                   <p class="text-left text-xs" style="margin-top: 7% ; margin-bottom: 7%;">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis numquam impedit enim incidunt esse a, velit, consequatur amet exercitationem corrupti porro repellendus commodi excepturi quae corporis labore quis temporibus ab magni totam.
                   </p>
                    <div>
        
                        <button class="bg-black border-solid border-2 border-gray-700" style="padding: 1%;">
                            <i class="fab fa-apple"></i>
                            Apple Store
                        </button>
                        &nbsp; &nbsp;
                        <button class="bg-black border-solid border-2 border-gray-700" style="padding: 1%;">
                            <i class="fab fa-google-play"></i>
                            Google play
                        </button>
                    </div>
                </div>
            </div>
            <div class="basis-1/2">
                <div class="text-center">
                    <p class="font-bold text-xl">
                       We'll send to your inbox
                    </p>
                    <div class="flex justify-center">
                        <div class="mb-3 xl:w-96">
                          <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 justify-center" style="margin-top: 3%;">
                            <input type="search" class="bg-black border-solid border border-white " >
        
                            <button class="bg-white text-black text-center " style="padding: 2%;" type="button" id="button-addon3">Subscribe</button>
                          </div>
                        </div>
                      </div>
        
                      <div>
                          <p class="font-extrabold text-xl">
                              FOLLOW US ON 
                          </p>
                          <div>
                          <i class="fab fa-facebook"></i>
                          &nbsp;
                          <i class="fab fa-instagram"></i>  &nbsp;
                          <i class="fab fa-twitter"></i>  &nbsp;
                          <i class="fab fa-pinterest"></i>
                        </div>
                      </div>
                </div>
            </div>
            <div class="basis-1/4">
                <div class="text-left" style="margin-left: 30%;">
                    <p>
                        OREDER
                    </p>
                    <p>
                       TERMS & CONDITION
                    </p>
                    <p>
                        RETURNS & EXCHANGE
                    </p>
                    <p>
                        TARCK ORDERS
                    </p>
                    <p>
                        REWARDS & GIFTS
                    </p>
                    <p>
                        ACCOUNT
                    </p>
                </div>
            </div>
            <div class="basis-1/4">
                <div class="text-left"  style="margin-left: 30%;">
                    <p>
                        ABOUT US
                    </p>
                    <p>
                       OUR STORIES
                    </p>
                    <p>
                        CAREERS
                    </p>
                    <p>
                        CONTACT US
                    </p>
                </div>
            </div>
          </div>

</div>

