<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 font-bold" style="background-color: white; padding-left: 20%; padding-right: 20%;">
   <div>
      <p> NEW ARRIVAL </p>
     </div>
     <div>
       <p>CLOTHING </p>
     </div>
     <div>
      <p> ACCESSORIES </p>
    </div>
    <div>
      <p> SHOES </p>
    </div>
    <div>
      <p> WATCHES</p>
    </div>
    <div>
      <p> BAGS</p>
    </div>
    <div>
      <p> STORE </p>
    </div>
    <div>
      <p style="color:red;">SALE </p>
    </div>
  </nav>