<div class="flex bg-black text-white " style="padding: 1%;">
      <div class="flex-none w-38 sm:font-thin text-xs w-10/1 lg xl 2xl:" style="padding-left: 3%;">
            FOLLOW US ON INSTA FOR YOUR DAILY FASHION FIX @FLORAFIX
      </div>
      <div class="flex-grow sm:font-thin text-xs w-5 flex-shrink-0 lg xl 2xl:" >
      </div>
      <div class="flex-none w-38 sm:font-thin text-xs w-10/12 lg xl 2xl:   " style="padding-right: 3%;">
            MESSAGE AND CALL US ON (04)45694682 FOR ANY QUERY
      </div>
    </div>