<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6" style="background-color: white;">
  <div>
    <i class="fa fa-search" aria-hidden="true"></i>  &nbsp; <input type="text" placeholder="Search..">
  </div>
    <div style="text-align: center; ">
      <div class=" text-2xl font-semibold tracking-widest">FLORA</div>
      <div class="bg-black font-extralight text-xs text-yellow-50">THE FASHION BOUTIQUE</div>
    </div> 
    <div class="flex flex-row-reverse ...">
      <div>
        <i class="fa fa-shopping-bag"> &nbsp; <span class="font-normal"> Cart</span></i>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <i class='far fa-user '> &nbsp; Sign Up</i>
      </div>
    </div>
  </nav>


  
  
