<div style="position: relative; margin-top: 15%; padding: 5%; background-color: #e8e8e8;" class="text-center "> 

    <div>
        <p class="text-large font-bold text-2xl"> 
            @FLORA OFFICIAL
        </p>
    </div>
    
    <div>
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" alt=""
        height="80%" width="90%" style="padding: 2%; position: relative; left: 6%;">
    </div>
    <div>
        <button class="bg-black text-white border-none" style="padding: 1%;">
            MORE INSTAGRAM
        </button>
    </div>

</div>

